.dash {
  padding: 4rem;
  background: black;
}

h1 {
  text-align: center;
  color: white;
}

.dash__item__info{
  display: block;
}

.w-full{
  width:80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}
.w-full > img{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}
.flex-wrap {
  flex-wrap: wrap;
  text-align: center;
  display: flex;
  /* margin-top: 5rem; */
  margin-bottom: rem;
}
.steps{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 33.3333%;
  margin-bottom: 1rem;
  position: center;
}
.step-num{
  border-radius: 9999px;
  width: 2.5rem;
  height: 2.5rem;
  background: #ff4e4e;
  color: #fff;
  text-align: center;
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  justify-content: center;
  align-items: center;
  font: 20px Arial, sans-serif;
}

.step-text{
  font-size: 20px;
  color: #fff;
  
}

.dash__container {
  display: flex;
  flex-flow: row;
  width: 80%;
  margin: 0 auto;
}

.dash__wrapper {
  position: relative;
  margin: 35px 0 45px;
  width: 100%;
}

.dash__items {
  margin-bottom: 24px;
}

.dash__item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}

.dash__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  background-color: white;
}
.prop{
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 15px;
  overflow: hidden;
  text-decoration: none;
  background-color: #ffffff;
  flex: 1 1;
  margin: 0 1rem;
}

.dash__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

/* .fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
} */

.dash__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}

.dash__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.dash__item__img:hover {
  transform: scale(1.1);
}

.dash__item__info {
  padding: 20px 30px 30px;
  color:black;
  height: 12rem;
}
.prop-info {
  padding: 0px 0px 30px;
  color:black;
  height: 5rem;
}

.prop-info-right {
  padding: 0px 30px 30px;
  color:black;
  height: 11.5rem;
}
.prop-info-right > p {
  font-size: 15px;
  color: black;
  text-align: center;
  padding: 0rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 10px;
}
.prop-info >h1{
  font-size: 30px;
  color:black;
  float:center;
}
.prop-info >p{
  font-size: 12px;
  color:black;
  text-align: center;
  padding: 0rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 10px;
}
.dash__item__text {
  color: #252e48;
  font-size: 23px;
  line-height: 24px;
}

.market_dash__container {
  display: flex;
  flex-flow: row;
  width: 90%;
  margin: 0 auto;
}

.market_prop{
  display: flex;
  flex-flow: column;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  text-decoration: none;
  background-color: black;
  flex: 1 1;
  margin: 0 1rem;
}

.market_prop_info {
  padding: 0px 0px 30px;
  color:black;
  height: 7rem;
}

.market_prop_info >p {
    font-size: 12px;
    color: black;
    text-align: center;
    padding: 0rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 10px;
}
.market_prop_info > h1 {
  color: black;
}
.market_prop_info_right > h1 {
  text-align: right;
}
.market_prop_info_right > p {
  font-size: 19px;
  color: #AEAEAE;
  text-align: right;
  padding: 0rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 10px;
}

.post-bttn{
  text-align: right;
  padding: 12px 0px 0px 0px;
  right: 0;
}
/* .btn {
  background-color: #ED8000;
  border-radius: 15px;
  color: white;
} */

.post-bttn button, .post2-bttn button, .bids-bttn button, .template-bttn button {
  background: #ED8000;
  border-radius: 6px;
  padding: 12px;
  border: none;
}

.post-bttn a.button, .post2-bttn a.button, .bids-bttn a.button {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .dash__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .dash__item {
    margin-bottom: 2rem;
  }
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  position: relative;
  width: 60%;
  margin: 0 auto;
  height: auto;
  /* max-height: 73vh; */
  margin-top: calc(106vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #999;
  overflow: auto;
}
.popup .close {
  position: absolute;
  top: 3px;
  right: 13px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .pop_content {
  max-height: 30%;
  overflow: auto;
}

.pop_container {
  display: flex;
  flex-flow: row;
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.pop_content > h1 {
  color: black;
  font-size: 24px;
}

.post2-bttn{
  margin-left: auto;
}

.pop-table {
  width: 93%;
  margin: 0 auto;
}

.pop-table thead th{
  font-size: 15px;
}
.pop-table tbody td{
  font-size: 23px;
  font-weight: bold;
}

table.unit-table {
  color: black;
  column-gap: 40px;    
  overflow-y:auto;
  width: 80%;
  font-size: 18px;
}

.capital-return {
  float: left;
  width: 30%;
  padding: 10px;
  margin-left: 2rem;
}

.capital-return >p {
    padding: 0;
    text-align: left;
    font-size: 23px;
    font-weight: bold;
    color: black;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
}

.slider {
  -webkit-appearance: none;
  height: 25px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  text-align: left;
  margin-left: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.unit_title {
  color: white;
}

.wrapper {
  margin-top: 1rem;
  height: 80%;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 2fr 2fr;
  color: white;
  row-gap: 0.5rem;;
}
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: rgb(26, 26, 26); 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(146, 144, 144, 0.837); 
}

.wrapper-right {
  margin-top: 1rem;
  margin-left: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
  column-gap: 1rem;
  row-gap: 1rem;
  text-align: center;
}

.dot {
  height: 150px;
  width: 150px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.bids-bttn {
  text-align: center;
  margin-top: 4rem;
}
button#accept-offer{
  width: 20%;
  margin-left: 12rem;
}
