.drop-down{
    width: 60%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 4rem;

}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
    color: white;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    color: white;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    /* border-bottom: 1px solid #aaa; */
    margin-bottom: .5em;
}
summary::marker {
    color: #175891;
    position: right;
}

.faq-head >h1 {
    margin-top: 2rem;
    font-size: 50px;
}

.faq-filter{
   display: flex;
   justify-content: center;
}
.faq-filter button {
    margin-right: 15px;
    margin-top: 2rem;
    text-align: center;
    border-radius: 1px;
    font-size: 12px;
    padding: 10px;
    width: 100px;
    font-size: 15px;
    outline: none;
    border: none;
    cursor: pointer;
    color:white;
    background-color: #175891;
}
  
.faq-filter button:hover {
    
    transition: all 0.3s ease-out;
    background: #96bddfd1;
    color: white;
    transition: 250ms;
    /* color: #ff4e4e; */
}
