.container-table{
    /* position: relative; */
    text-align: left;
    margin-left:5%; 
    margin-right:5%;
    overflow-y: scroll;
    height: 500px;
    margin-bottom: 3rem;
}

table.dash-table {
    color: white;
    column-gap: 40px;    
    overflow-y:auto;
    width: 100%;
    font-size: 18px;
}

.container-table thead th {
    /* position: sticky;  */
    top: 0px; 
    background-color: black;
    color: #AEAEAE;
}

th, td {
    padding: 5px 10px 5px 10px;

}

.expand {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }