.container-table{
    position: relative;
    text-align: left;
    margin-left:5%; 
    margin-right:5%;
    overflow-y: auto;
    height: 500px;
    margin-bottom: 3rem;
}
table.dash-table {
    color: white;
    column-gap: 40px;    
    overflow-y:auto;
    width: 100%;
    font-size: 18px;
}

.container-table thead th {
    position: sticky; 
    top: 0px; 
    background-color: black;
    color: #AEAEAE;
}

th, td {
    padding: 5px 10px 5px 10px;

}

