.manual-container{
    display: flex;
    flex-flow: column;
    margin-left: 3rem;
    margin-bottom: 4rem;
    margin: 35px 70px 200px;
}

.manual-heading > h1{
    float: left;
}
.manual-heading > b{
    float: left;
    width: 50%;
}
.heading {
    width: 100%;
    display: inline-block;
    margin-top: 2rem;
}

.template-bttn{
    float: right;
}

.btn {
    background-color: #ED8000;
    border-radius: 15px;
    color: white;
  }

.manual-table{
    text-align: left;
    margin-left:5%; 
    margin-right:5%;
    margin-top: 2rem;
    height: 444px;
}

table.upload-table {
    color: white;
    column-gap: 40px;    
    overflow-y:auto;
    width: 100%;
    font-size: 18px;
}

.manual-table thead th {
    /* position: sticky;  */
    top: 0px; 
    background-color: black;
    color: #AEAEAE;
}

th, td {
    padding: 5px 10px 5px 10px;
    border-bottom:1pt solid white;
    text-align: left;
}
